/* Mobile first approach */

body {
  background-color: #474b4f;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

h2 {
  margin-bottom: 40px;
}

h4 {
  font-size: 14px;
}

.modal-content img {
  padding: 20px;
}

.skills {
  height: 2500px;
}

.icon-container {
  margin: auto;
}

.icon-container-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-photo {
  height: 40px;
  width: auto;
  border-radius: 50%;
  margin-right: auto;
}

.my-btn-style a {
  color: white;
}

.my-btn-style {
  width: 200px;
  margin: 30px auto;
  height: 50px;
}

.full-stack1 {
  padding-top: 50px;
  color: #86c232;
}

.full-stack {
  color: #86c232;
  padding-top: 20px;
}
/* navbar section */

.nav-bar1 {
  background-color: #6b6e70;
}

.nav-text {
  color: #86c232;
}

/* About section */

.about-section {
  height: 1000px;
}

/* portfolio section */

.container {
  color: white;
  padding: 80px;
}

.portfolio-image {
  height: 300px;
}

/*  Photo Overlay Transitions  */

.photo-overlay:hover {
  opacity: 1;
}

.photo-overlay {
  color: #86c232;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #474b4f;

  display: flex; /* For centering text inside .photo-overlay */
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 0.5s;
}

/* Intro section */

.intro {
  padding-top: 100px;
}

/* parallel scrolling effect css */

.parallax {
  /* The image used */
  background-image: url('../images/code-image.png');

  /* Set a specific height */
  height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.parallax1 {
  /* The image used */
  background-image: url('../images/code-image-1.png');

  /* Set a specific height */
  height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

a {
  margin: auto;
}

.parallax3 {
  /* The image used */
  background-image: url('../images/code-image-3.png');

  /* Set a specific height */
  height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

/* skills section */

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container img {
  width: 50%;
  height: auto;
  margin: auto;
}

/* contact section */

.contact {
  height: 800px;
}

.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-fade {
  opacity: 0;
  transition: all 1.5s;
}

.title-fade.active {
  opacity: 1;
}

.contact-details {
  margin: auto;
}

.icon-container {
  margin: auto;
}

.contact-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.rectangle:hover {
  fill: #7eabcd;
}

h5 {
  padding-top: 40px;
  margin: auto;
  text-align: center;
}

/* First breakpoint for tablets 768px */

@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 4rem;
  }

  .intro {
    padding-top: 0px;
  }

  .my-btn-style {
    width: 420px;
    margin: 30px auto;
    height: 50px;
  }

  .contact {
    height: 1000px;
  }

  h2 {
    font-size: 3rem;
  }

  h4 {
    font-size: 30px;
  }

  .icon-container svg {
    margin-top: 150px;
    width: 75%;
  }
}

@media (min-width: 1024px) and (max-width: 990px) {
  .photo-overlay {
    height: 40px;
  }

  .intro {
    padding-top: 0px;
  }
}

/* Second breakpoint for laptops 1024px */

@media (min-width: 1024px) {
  h1 {
    font-size: 5rem;
  }

  .intro {
    padding-top: 0px;
  }

  .skills,
  .contact {
    height: 1000px;
  }

  h2 {
    font-size: 4rem;
  }

  h4 {
    font-size: 2rem;
  }

  .intro {
    padding-top: 100px;
  }
}
